[submodule "lib/ptpd-lwip"]
	path = lib/ptpd-lwip
	url = git@github.com:BOJIT/ptpd-lwip.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
